name: dependency-checks

on:
  workflow_call:

jobs:
  dependency-scan:
    name: Run internal dependency script
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 8
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20

      - name: Run dependency scan
        run: |
          wget https://raw.githubusercontent.com/centreon/security-tools/refs/heads/SECU-dd-tools/.github/scripts/audit_portable.cjs
          node audit_portable.cjs ./
