name: dependency-checks

on:
  workflow_call:

permissions:
  contents: read

jobs:
  dependency-scan:
    name: Run internal dependency script
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Find lockfiles
        run: |
          LOCKFILES=$(find . -type f -name "package-lock.json" -o -name "pnpm-lock.yaml" -o -name "yarn.lock" -print | paste -sd, -)
          echo "lockfiles=$LOCKFILES >> GITHUB_ENV"
          cat $GITHUB_ENV
        shell: bash

      - name: Setup Node.js
        if: ${{ env.lockfiles != '' }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "22"
          cache: "npm, pnpm, yarn"

      - name: Install safe-chain
        run: |
          echo "Installing Aikido safe-chain"
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci --include-python
          echo "Get safe-chain version"
          safe-chain --version
        shell: bash

      - name: Install dependencies
        run: npm ci

      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          fail-on-severity: medium
          deny-licenses: LGPL-2.0, BSD-2-Clause
