name: dependency-checks

on:
  pull_request:
  workflow_call:
    inputs:
      module_directory:
        description: 'Component path'
        required: false
        type: string
        default: "."
      minimum_package_age_hours:
        description: 'Allowed minimum package age'
        required: false
        type: string
        default: "48"

#permissions:
#  contents: read

jobs:
  dependency-scan:
    name: Run dependency analysis
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Find lockfiles
        run: |
          NPM_LOCKFILES=$(find . -type f -name "package-lock.json" -print | paste -sd, -)
          PNPM_LOCKFILES=$(find . -type f -name "pnpm-lock.yaml" -print | paste -sd, -)
          YARN_LOCKFILES=$(find . -type f -name "yarn.lock" -print | paste -sd, -)
          MODULES_TO_LOAD=""

          function concat() {
            STRING="$1"
            RESULT="$2"
            if [[ -n "$RESULT" ]]; then RESULT="${RESULT},"; fi
            echo "$RESULT$STRING"
          }

          if [[ -n "$NPM_LOCKFILES" ]]; then
            MODULES_TO_LOAD=$(concat "npm" "$MODULES_TO_LOAD")
          fi
          if [[ -n "$PNPM_LOCKFILES" ]]; then
            MODULES_TO_LOAD=$(concat "pnpm" "$MODULES_TO_LOAD")
          fi
          if [[ -n "$YARN_LOCKFILES" ]]; then
            MODULES_TO_LOAD=$(concat "yarn" "$MODULES_TO_LOAD")
          fi
          echo "modules_to_load=$MODULES_TO_LOAD" >> $GITHUB_ENV
          echo "npm_lockfiles=$NPM_LOCKFILES" >> $GITHUB_ENV
          echo "pnpm_lockfiles=$PNPM_LOCKFILES" >> $GITHUB_ENV
          echo "yarn_lockfiles=$YARN_LOCKFILES" >> $GITHUB_ENV
          cat $GITHUB_ENV
        shell: bash

      - name: Setup Pnpm
        if: env.pnpm_lockfiles != ''
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 10
          #run_install: false
          cache: true

      - name: Setup Node
        if: env.modules_to_load != ''
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          package-manager-cache: true

      # https://github.com/search?q=https%3A%2F%2Fraw.githubusercontent.com%2FAikidoSec%2Fsafe-chain&type=code

      - name: Install safe-chain
        if: env.modules_to_load != ''
        env:
          SAFE_CHAIN_VERSION: "1.2.4"
        run: |
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
          echo "[INFO] - Set min age to ${{ inputs.minimum_package_age_hours }}"
          export SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS="${{ inputs.minimum_package_age_hours }}"
        shell: bash

      - name: Check dependencies
        if: env.modules_to_load != ''
        run: |
          echo "[INFO] - Install package managers"
          if [[ "${{ env.yarn_lockfiles }}" != '' ]]; then
            npm install -g yarn
          fi
          #echo "[INFO] - Current npm version: $(npm -v)"
          #npm install -g npm@latest
          #echo "[INFO] - Updated npm version: $(npm -v)"

          echo "[DEBUG] - node"
          node --version
          echo "[DEBUG] - npm"
          npm --version
          echo "[DEBUG] - yarn"
          yarn --version
          #echo "[DEBUG] - scripts"
          ls -laR /home/runner/.safe-chain

          function loop() {
            DEP_MANAGER="$1"
            SEARCH_LOCKFILES="$2"
            echo "[DEBUG] - $SEARCH_LOCKFILES"
            LOCKFILES=(${SEARCH_LOCKFILES//,/ })
            for LOCKFILE in "${LOCKFILES[@]}"; do
              echo "[INFO] - Scanning $LOCKFILE with $DEP_MANAGER"
              PATH=$(dirname "$LOCKFILE")
              cd "$PATH"
              case "$DEP_MANAGER" in
                npm)
                  #npm ci --safe-chain-logging=verbose
                  #npm ci
                  ;;
                pnpm)
                  #pnpm install --frozen-lockfile --safe-chain-logging=verbose
                  pnpm install --frozen-lockfile
                  ;;
                yarn)
                  #yarn install --frozen-lockfile --safe-chain-logging=verbose
                  yarn install --frozen-lockfile
                  ;;
                *)
                  echo "[WARN] - $DEP_MANAGER not supported"
                  ;;
              esac
              cd -
            done
          }

          if [[ "${{ env.npm_lockfiles }}" != '' ]]; then
            echo "[DEBUG] - Trigger loop for npm"
            loop "npm" "$npm_lockfiles"
          fi
          if [[ "${{ env.pnpm_lockfiles }}" != '' ]]; then
            echo "[DEBUG] - Trigger loop for pnpm"
            loop "pnpm" "$pnpm_lockfiles"
          fi
          if [[ "${{ env.yarn_lockfiles }}" != '' ]]; then
            echo "[DEBUG] - Trigger loop for yarn"
            loop "yarn" "$yarn_lockfiles" 
          fi
        shell: bash

#      - name: New dependency review
#        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
#        with:
#          fail-on-severity: medium
#          deny-licenses: LGPL-2.0, BSD-2-Clause
