name: dependency-checks

on:
  workflow_call:

permissions:
  contents: read

jobs:
  dependency-scan:
    name: Run dependency analysis
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Find lockfiles
        run: |
          NPM_LOCKFILES=$(find . -type f -name "package-lock.json" -print | paste -sd, -)
          PNPM_LOCKFILES=$(find . -type f -name "pnpm-lock.yaml" -print | paste -sd, -)
          YARN_LOCKFILES=$(find . -type f -name "yarn.lock" -print | paste -sd, -)
          MODULE_TO_LOAD=""
          SUBDIRS=""
          
          #function concat() {
          #  MODULE=$1
          #  if [[ -n $MODULE_TO_LOADS ]]; then MODULE_TO_LOADS="${MODULE_TO_LOADS}, "; fi
          #  MODULE_TO_LOAD="${MODULE_TO_LOAD}"
          #}

          function concat() {
            MODULE=$1
            TARGET=$2
            if [[ -n $TARGET ]]; then TARGET="${TARGET},"; fi
            TARGET="${MODULE}"
          }
          
          if [[ -z NPM_LOCKFILES ]]; then
            concat "npm" "$MODULE_TO_LOAD"
            concat "$NPM_LOCKFILES" "$SUBDIRS"
          fi
          if [[ -z PNPM_LOCKFILES ]]; then
            concat "pnpm"
            concat "$PNPM_LOCKFILES" "$SUBDIRS"
          fi
          if [[ -z YARN_LOCKFILES ]]; then
            concat "yarn"
            concat "$YARN_LOCKFILES" "$SUBDIRS"
          fi
          
          echo "module_to_load=$MODULE_TO_LOAD >> GITHUB_ENV"
          echo "subdirs=$SUBDIRS >> GITHUB_ENV"
          cat $GITHUB_ENV
        shell: bash

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: ${{ inputs.dependencies_lock_file }}

      - name: Setup Node
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 10
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20
          cache: "${{ env.module_to_load }}"
          cache-dependency-path: "${{ env.subdirs }}"


        #uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        #with:
        #  node-version: "22"
        #  package-manager-cache: false

      - name: Install safe-chain
        run: |
          echo "Installing Aikido safe-chain"
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
          #echo "Get safe-chain version"
          #safe-chain --version
        shell: bash

      - name: Install dependencies
        run: npm ci --verbose

      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          fail-on-severity: medium
          deny-licenses: LGPL-2.0, BSD-2-Clause
