name: dependency-checks

on:
  workflow_call:

jobs:
  dependency-scan:
    name: Run internal dependency script
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Run dependency scan
        run: |
          echo "dependency-analysis location"
          find ./ -name "dependency-analysis.sh"
          echo "blacklist location"
          find ./ -name "compromised-packages.txt"

          #.github/scripts/dependency-analysis.sh
