name: dependency-checks

on:
  workflow_call:

jobs:
  dependency-scan:
    name: Run dependency analysis
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "22"
          package-manager-cache: false

      # https://github.com/search?q=https%3A%2F%2Fraw.githubusercontent.com%2FAikidoSec%2Fsafe-chain&type=code
      ## Check package types
      ## install dependency managers
      ## launch one installation per tool
      ## pnpm install --frozen-lockfile
      ## npm ci
      ## yarn install --frozen-lockfile
      # check history to get the script

      - name: Install safe-chain
        run: |
          echo "Installing Aikido safe-chain"
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
        shell: bash

      - name: Check dependencies
        run: |
          safe-chain setup-ci
          #LOCKFILES=($(find . -type f -name "package-lock.json" -o -name "pnpm-lock.yaml" -o -name "yarn.lock"))
          LOCKFILES=($(find . -type f -name "package-lock.json" -o -name "yarn.lock"))
          echo "$LOCKFILES"
          if [[ ${#LOCKFILES[@]} -gt 0 ]]; then
            for LOCKFILE in "${LOCKFILES[@]}"; do
              cd $(dirname "$LOCKFILE")
              echo "::notice:: running npm ci on $LOCKFILE"
              npm ci --verbose
              cd -
            done
          fi
        shell: bash

#      - name: New dependency review
#        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
#        with:
#          fail-on-severity: medium
#          deny-licenses: LGPL-2.0, BSD-2-Clause
