name: dependency-checks

on:
  workflow_call:

jobs:
  dependency-scan:
    name: Run internal dependency script
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Run dependency scan
        run: |
          ls -la
          ls -la .github/scripts
          echo "dependency-analysis location"
          find / -name "dependency-analysis.sh" 2>/dev/null
          echo "blacklist location"
          find / -name "compromised-packages.txt" 2>/dev/null
          pwd

          wget https://github.com/centreon/security-tools/blob/SECU-dd-tools/blacklist/compromised-packages.txt
          wget https://raw.githubusercontent.com/centreon/security-tools/SECU-dd-tools/.github/scripts/dependencies_check.sh
          ./dependencies_check.sh
          
          
          echo "dependency-analysis location"
          find / -name "dependency-analysis.sh" 2>/dev/null
          echo "blacklist location"
          find / -name "compromised-packages.txt" 2>/dev/null
          pwd

        shell: bash
