name: dependency-checks

on:
  pull_request:
  workflow_call:

permissions:
  pull-requests: write
  contents: read

jobs:
  dependency-scan:
    name: Run dependencies analysis
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check dependencies type and lockfiles version
        run: |
          # Check override
          if [ "${{ vars.OVERRIDE_DEPENDENCY_SCAN }}" == "true" ]; then
            echo "[INFO] - Scan override enabled"
            echo "fail_the_build=false" >> "$GITHUB_ENV"
            cat $GITHUB_ENV
            return 0
          fi

          # Check date
          current_timestamp=$(date +%s)
          DUE_DATE="${{ vars.OVERRIDE_DEPENDENCY_ENFORCEMENT_DATE }}"
          input_timestamp=$(date -d "$DUE_DATE" +%s)

          # Setup vars
          ERROR_LOG="error_log.txt"
          touch "$ERROR_LOG"
          FORCE_FAIL="false"
          ENFORCEMENT="false"
          SKIP="false"
          FAIL_THE_BUILD="false"
          if [ "$current_timestamp" -ge "$input_timestamp" ]; then
            echo "[INFO]: Deadline passed."
            ENFORCEMENT="true"
          fi

          echo "[OK] - Great, nothing found !"
          FAIL_THE_BUILD="false"
          echo "fail_the_build=$FAIL_THE_BUILD" >> "$GITHUB_ENV"
          cat $GITHUB_ENV
        shell: bash

      - name: comment_PR
        continue-on-error: true
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          recreate: true
          ignore_empty: true
          path: "error_log.txt"

      - name: Fail job if previous step failed
        if: env.fail_the_build == 'true'
        run: |
          echo "[ERROR] - Breaking the run. Kindly, check the comment and the dependency analysis log above"
          exit 1
