name: dependency-checks

on:
  pull_request:
  workflow_call:
    inputs:
      module_directory:
        description: 'Component path'
        required: false
        default: ""
        type: string

permissions:
  contents: read

env:
  minimum_package_age_hours: 168 # 7 days

jobs:
  dependency-scan:
    name: Run dependency analysis
    runs-on: ${{ github.repository_visibility != 'public' && 'centreon-security' || 'ubuntu-24.04' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          package-manager-cache: true

      # https://github.com/search?q=https%3A%2F%2Fraw.githubusercontent.com%2FAikidoSec%2Fsafe-chain&type=code

      - name: Install safe-chain
        #env:
        #  SAFE_CHAIN_VERSION: "1.2.4"
        run: |
          curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
        shell: bash

      - name: Check dependencies and managers
        run: |
          # Check override
          if [ "${{ vars.OVERRIDE_DEPENDENCY_SCAN }}" == "true" ]; then
            echo "[DEBUG] - Global scan override enabled"
            return 0
          elif [[ "${{ vars.OVERRIDE_PNPM_COMPLIANCE }}" == "true" ]]; then
            echo "[DEBUG] - PNPM scan override enabled"
            return 0
          fi
          
          # Check date
          current_timestamp=$(date +%s)
          DUE_DATE="${{ vars.OVERRIDE_DEPENDENCY_ENFORCEMENT_DATE }}"
          input_timestamp=$(date -d "$DUE_DATE" +%s)
          echo "[DEBUG] : DUE_DATE = $DUE_DATE
          echo "[DEBUG] : current_timestamp = $current_timestamp
          echo "[DEBUG] : input_timestamp = $input_timestamp

          # Set env
          export SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS=76800
          export SAFE_CHAIN_LOGGING="silent"
          ENFORCEMENT="false"
          if [ "$current_timestamp" -ge "$input_timestamp" ]; then
            echo "[DEBUG]: Deadline passed."
            ENFORCEMENT="true"
          fi

          function message_type() {
            if [ $ENFORCEMENT == "true" ]; then
              echo "[ERROR] : $1"
            else
              echo "[WARNING] : $1"
            fi
          }

          # Compare pnpm version from lockfile
          function compare_version() {
            MIN_VERSION="10.0.0"
            LOC_VERSION=$(grep -E '^lockfileVersion:' "$LOC_TYPE" \
            | awk '{print $2}' \
            | tr -d "'\"")
            # Compare versions
            version_ge() {
              [ "$(printf '%s\n' "$1" "$2" | sort -V | head -n1)" = "$2" ]
            }

            if version_ge "$MIN_VERSION" "$LOC_VERSION"; then
              message_type "lockfileVersion $LOC_VERSION < $MIN_VERSION"
            fi
          }

          # Move to module folder
          MODULE_FOLDER="${{ inputs.module_directory }}" || ""
          if [[ -n "$MODULE_FOLDER" ]]; then
            cd $MODULE_FOLDER
          fi

          echo "Find manifest files"
          DEP_FILES=$(find ./ -type f -name "package.json")

          # Scan node manifests
          for DEP_FILE in ${DEP_FILES[@]}; do
            DEP_DIR=$(dirname $DEP_FILE)
            echo "[INFO] - Scanning $DEP_FILE"
            LOC_FILES=$(find $DEP_DIR -type f -name "package-lock.json" -o -name "pnpm-lock.yaml" -o -name "yarn.lock")
            COUNT=0

            for LOC_FILE in ${LOC_FILES[@]}; do
              LOC_TYPE=$(basename $LOC_FILE)
              LOC_DIR=$(dirname $LOC_FILE)
              cd $LOC_DIR
              case $LOC_TYPE in
                "yarn.lock")
                  ((COUNT++))
                  message_type "Yarn is no longer allowed. Kindly replace the lockfile using PNPM"
                  ;;
                "package-lock.json")
                  ((COUNT++))
                  message_type "NPM is no longer allowed. Kindly replace the lockfile using PNPM"
                  ;;
                "pnpm-lock.yaml")
                  compare_version
                  #pnpm install --frozen-lockfile --safe-chain-logging=silent
                  pnpm install --frozen-lockfile
                  #pnpm list --frozen-lockfile
                  #pnpm audit
                  ((COUNT++))
                  ;;
                "*")
                  message_type "no lockfile found"
                  ;;
              esac
              cd -
            done
            if [[ $COUNT -gt 1 ]]; then
              message_type "$COUNT lockfiles were found. Kindly keep only the lockfile generated with PNPM"
            fi
          done
        shell: bash
